In [ ]:
import pandas as pd

In [ ]:

df1 = pd.read_csv('../../240103/stock_filtered.csv', encoding='cp949')

df2 = pd.read_csv('final_final_final.csv', encoding= 'utf-8')

In [ ]:
df1.drop('Unnamed: 0', axis=1, inplace= True)

In [ ]:
df1.isna().sum()

회사명          0
거래소코드        0
회계년도         0
ROE        777
ROIC       777
OPEX/매출      1
잉여현금흐름       0
Buffett      0
ROCE       777
자사주매입1       1
자사주매입2       1
주주환원1        1
주주환원2        1
배당율          1
보통주식비율       0
dtype: int64

In [ ]:
df2 = df2.drop(['자본총계','부채총계','유동자산','비유동자산','당좌자산','유동부채','비유동부채','신용등급mapping'], axis=1)

In [ ]:
df2.isna().sum()

회사명           0
거래소코드         0
회계년도          0
평가사명 및 등급     0
신용등급          0
증권명          62
자산총계          0
부채비율          0
당좌비율          0
유동비율          0
자기자본 비율       0
재무레버리지        0
연도            0
신용스프레드        0
dtype: int64

In [ ]:
df2['증권명']= df2['증권명'].fillna('-')

In [ ]:
df2.isna().sum()

회사명          0
거래소코드        0
회계년도         0
평가사명 및 등급    0
신용등급         0
증권명          0
자산총계         0
부채비율         0
당좌비율         0
유동비율         0
자기자본 비율      0
재무레버리지       0
연도           0
신용스프레드       0
dtype: int64

In [ ]:
from datetime import datetime

df1['회계년도'] = pd.to_datetime(df1['회계년도'])

In [ ]:
df1['연도']= df1['회계년도'].dt.year

In [ ]:
df1['회계년도'] = pd.to_datetime(df1['회계년도'])

# 날짜를 원하는 포맷으로 변환 (예: YYYY/MM)
df1['회계년도'] = df1['회계년도'].dt.strftime('%Y/%m')

In [ ]:
df2['회계년도'] = pd.to_datetime(df2['회계년도'])

# 날짜를 원하는 포맷으로 변환 (예: YYYY/MM)
df2['회계년도'] = df2['회계년도'].dt.strftime('%Y/%m')

In [ ]:
df2['회계년도']= df2['회계년도'].astype(str)

In [ ]:
df = pd.merge(df1, df2, on = ['회사명','거래소코드','회계년도','연도'], how='inner')

In [ ]:
df.isna().sum()

회사명            0
거래소코드          0
회계년도           0
ROE          638
ROIC         638
OPEX/매출        0
잉여현금흐름         0
Buffett        0
ROCE         638
자사주매입1         0
자사주매입2         0
주주환원1          0
주주환원2          0
배당율            0
보통주식비율         0
연도             0
평가사명 및 등급      0
신용등급           0
증권명            0
자산총계           0
부채비율           0
당좌비율           0
유동비율           0
자기자본 비율        0
재무레버리지         0
신용스프레드         0
dtype: int64

In [ ]:
df2[df2['연도'] == 2010].value_counts().sum()

728

In [ ]:
counts_per_company = df2.groupby('회사명')['회계년도'].nunique()

# 13개인 회사들과 13개가 아닌 회사들의 개수 뽑기
num_companies_13_codes = (counts_per_company[counts_per_company == 13]).count()
num_companies_not_13_codes = (counts_per_company[counts_per_company != 13]).count()

print("거래소코드가 13개인 회사의 개수:", num_companies_13_codes)
print("거래소코드가 13개가 아닌 회사의 개수:", num_companies_not_13_codes)

거래소코드가 13개인 회사의 개수: 735
거래소코드가 13개가 아닌 회사의 개수: 0

In [ ]:
df3 = df2.drop(df2[df2['연도'] ==2023].index)

In [ ]:
df3[df3['연도'] ==20].value_counts().sum()

0

# 13개인 회사들과 13개가 아닌 회사들의 개수 뽑기

In [ ]:
counts_per_company = df3.groupby('회사명')['회계년도'].nunique()

# 13개인 회사들과 13개가 아닌 회사들의 개수 뽑기
num_companies_13_codes = (counts_per_company[counts_per_company == 13]).count()
num_companies_not_13_codes = (counts_per_company[counts_per_company != 13]).count()

print("거래소코드가 13개인 회사의 개수:", num_companies_13_codes)
print("거래소코드가 13개가 아닌 회사의 개수:", num_companies_not_13_codes)

거래소코드가 13개인 회사의 개수: 727
거래소코드가 13개가 아닌 회사의 개수: 0

In [ ]:
counts_per_company[counts_per_company != 13]

회사명
(주)금비         12
(주)모아텍        12
(주)삼에스코리아     12
(주)인터엠        12
(주)체시스        12
(주)형지엘리트      12
한스바이오메드(주)    12
효성오앤비(주)      12
Name: 회계년도, dtype: int64

# 13년간 데이터가 없는 회사들은 한 번 더 확인하고 삭제

In [ ]:
delete_companies = ['(주)금비', '(주)모아텍', '(주)삼에스코리아', '(주)인터엠', '(주)체시스', '(주)형지엘리트', '한스바이오메드(주)', '효성오앤비(주)']

# 삭제할 회사들의 인덱스 찾기
indexes_to_delete = df3[df3['회사명'].isin(delete_companies)].index

# 해당 인덱스를 기준으로 데이터프레임에서 행 삭제
df3 = df3.drop(indexes_to_delete)

In [ ]:
df3.reset_index()

,index,회사명,거래소코드,회계년도,평가사명 및 등급,신용등급,증권명,자산총계,부채비율,당좌비율,유동비율,자기자본 비율,재무레버리지,연도,신용스프레드
0,0,(주)DB하이텍,990,2010/12,한국기업평가(AAA~D),BBB-,기업신용등급,1.381251e+09,247.033931,0.094359,1.404803,100.000000,2.470339,2010,6.934648
1,1,(주)DB하이텍,990,2011/12,한신정평가(AAA~D),BBB-,기업신용등급,1.199044e+09,289.222002,0.044922,1.345755,100.000000,2.892220,2011,6.679649
2,2,(주)DB하이텍,990,2012/12,한국신용평가(AAA~D),BBB-,기업신용등급,1.157755e+09,297.999848,0.046048,1.335571,100.000000,2.979998,2012,6.018549
3,3,(주)DB하이텍,990,2013/12,한신정평가(AAA~D),BBB-,-,1.058392e+09,416.902052,0.041261,1.239864,100.000000,4.169021,2013,6.058273
4,4,(주)DB하이텍,990,2014/12,한신정평가(AAA~D),BBB-,기업신용등급,9.848766e+08,715.952219,0.046714,1.139674,100.000000,7.159522,2014,6.242679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9446,9550,흥아해운(주),3280,2018/12,한국기업평가,BBB-,회사채,8.036985e+08,998.726601,0.020906,1.100128,100.000000,9.987266,2018,6.562249
9447,9551,흥아해운(주),3280,2019/12,한국기업평가,BBB-,회사채,4.309627e+08,1293.827044,0.034140,1.077290,100.000000,12.938270,2019,6.366166
9448,9552,흥아해운(주),3280,2020/12,한국기업평가,BBB-,회사채,2.867760e+08,-1191.072253,0.015692,0.916042,100.000000,-11.910723,2020,6.590891
9449,9553,흥아해운(주),3280,2021/12,한국기업평가,BBB-,회사채,2.472987e+08,140.236247,0.264540,1.713082,100.000000,1.402362,2021,6.387397
9450,9554,흥아해운(주),3280,2022/12,한국기업평가,BBB-,회사채,3.170599e+08,134.330257,0.334535,1.744434,100.000001,1.343303,2022,6.814670

In [ ]:
df3[df3['연도'] == 2022].value_counts().sum()

727

## 최종 아님

In [ ]:
df3.to_csv('진짜최종.csv', index = False, encoding='utf-8-sig')

In [ ]:
import pandas as pd

df_min =pd.read_csv('결측치없음.csv', encoding='cp949')
df_in = pd.read_csv('진짜최종.csv', encoding= 'utf-8')

In [ ]:
df_min.drop('Unnamed: 0', axis=1, inplace= True)

In [ ]:
from datetime import datetime

df_min['회계년도'] = pd.to_datetime(df_min['회계년도'])
df_min['연도']= df_min['회계년도'].dt.year
df_min['회계년도'] = df_min['회계년도'].dt.strftime('%Y/%m')

In [ ]:
df_min['회계년도']= df_min['회계년도'].astype(str)

In [ ]:
df_min

,회사명,거래소코드,회계년도,ROE,ROIC,OPEX/매출,잉여현금흐름,Buffett,ROCE,자사주매입1,자사주매입2,주주환원1,주주환원2,배당율,보통주식비율,연도
0,케이알모터스(주),40,2010/12,-0.008024,-0.004607,0.099983,16608229.0,1378953.0,0.936112,-0.000000,-0.0,-0.000000,-0.0,0.0,31.53,2010
1,케이알모터스(주),40,2011/12,0.028117,0.017462,0.101558,-9483710.0,4940232.0,-0.254909,0.000000,0.0,0.000000,0.0,-0.0,31.53,2011
2,케이알모터스(주),40,2012/12,-0.127075,-0.078015,0.122010,-5545690.0,-5606436.0,-0.148497,-0.000000,-0.0,-0.000000,-0.0,0.0,32.10,2012
3,케이알모터스(주),40,2013/12,-0.112003,-0.065277,0.110926,-3093752.0,-7058574.0,0.034653,-0.000000,-0.0,-0.000000,-0.0,0.0,32.09,2013
4,케이알모터스(주),40,2014/12,-0.246924,-0.116590,0.158845,-47047856.0,-24120954.0,-53.260413,-0.000000,-0.0,-0.000000,-0.0,0.0,32.09,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7028,엘브이엠씨홀딩스(주),900140,2018/12,-0.129496,-0.095922,0.225463,-14565119.0,-51762067.0,0.003358,-0.060133,-0.0,-0.060133,-0.0,0.0,45.01,2018
7029,엘브이엠씨홀딩스(주),900140,2019/12,-0.162199,-0.110801,0.153946,20486655.0,-41882430.0,0.242182,-0.000000,-0.0,-0.000000,-0.0,0.0,45.09,2019
7030,엘브이엠씨홀딩스(주),900140,2020/12,-0.071747,-0.056633,0.176435,62682386.0,-9474979.0,0.590186,-0.000000,-0.0,-0.000000,-0.0,0.0,38.45,2020
7031,엘브이엠씨홀딩스(주),900140,2021/12,-0.049496,-0.059361,0.219790,108519914.0,-1793524.0,0.525809,-0.000000,-0.0,-0.000000,-0.0,0.0,47.81,2021
7032,엘브이엠씨홀딩스(주),900140,2022/12,-0.094044,-0.159704,0.188620,66097678.0,-20169680.0,0.318786,-0.000000,-0.0,-0.000000,-0.0,0.0,47.81,2022

In [ ]:
df3

,회사명,거래소코드,회계년도,평가사명 및 등급,신용등급,증권명,자산총계,부채비율,당좌비율,유동비율,자기자본 비율,재무레버리지,연도,신용스프레드
0,(주)DB하이텍,990,2010/12,한국기업평가(AAA~D),BBB-,기업신용등급,1.381251e+09,247.033931,0.094359,1.404803,100.000000,2.470339,2010,6.934648
1,(주)DB하이텍,990,2011/12,한신정평가(AAA~D),BBB-,기업신용등급,1.199044e+09,289.222002,0.044922,1.345755,100.000000,2.892220,2011,6.679649
2,(주)DB하이텍,990,2012/12,한국신용평가(AAA~D),BBB-,기업신용등급,1.157755e+09,297.999848,0.046048,1.335571,100.000000,2.979998,2012,6.018549
3,(주)DB하이텍,990,2013/12,한신정평가(AAA~D),BBB-,-,1.058392e+09,416.902052,0.041261,1.239864,100.000000,4.169021,2013,6.058273
4,(주)DB하이텍,990,2014/12,한신정평가(AAA~D),BBB-,기업신용등급,9.848766e+08,715.952219,0.046714,1.139674,100.000000,7.159522,2014,6.242679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9550,흥아해운(주),3280,2018/12,한국기업평가,BBB-,회사채,8.036985e+08,998.726601,0.020906,1.100128,100.000000,9.987266,2018,6.562249
9551,흥아해운(주),3280,2019/12,한국기업평가,BBB-,회사채,4.309627e+08,1293.827044,0.034140,1.077290,100.000000,12.938270,2019,6.366166
9552,흥아해운(주),3280,2020/12,한국기업평가,BBB-,회사채,2.867760e+08,-1191.072253,0.015692,0.916042,100.000000,-11.910723,2020,6.590891
9553,흥아해운(주),3280,2021/12,한국기업평가,BBB-,회사채,2.472987e+08,140.236247,0.264540,1.713082,100.000000,1.402362,2021,6.387397
9554,흥아해운(주),3280,2022/12,한국기업평가,BBB-,회사채,3.170599e+08,134.330257,0.334535,1.744434,100.000001,1.343303,2022,6.814670

In [ ]:
df_merge = pd.merge(df_min, df3, on = ['회사명','연도', '거래소코드','회계년도'], how='inner')

In [ ]:
df_merge

,회사명,거래소코드,회계년도,ROE,ROIC,OPEX/매출,잉여현금흐름,Buffett,ROCE,자사주매입1,...,평가사명 및 등급,신용등급,증권명,자산총계,부채비율,당좌비율,유동비율,자기자본 비율,재무레버리지,신용스프레드
0,케이알모터스(주),40,2010/12,-0.008024,-0.004607,0.099983,16608229.0,1378953.0,0.936112,-0.000000,...,ubion,BBB-,회사채,144696998.0,116.862453,0.364804,1.855707,100.000000,1.168625,6.934648
1,케이알모터스(주),40,2011/12,0.028117,0.017462,0.101558,-9483710.0,4940232.0,-0.254909,0.000000,...,ubion,BBB-,회사채,133337774.0,93.904524,0.236443,2.064911,99.999999,0.939045,6.679649
2,케이알모터스(주),40,2012/12,-0.127075,-0.078015,0.122010,-5545690.0,-5606436.0,-0.148497,-0.000000,...,ubion,BBB-,회사채,119327267.0,96.271085,0.174897,2.038733,100.000000,0.962711,6.018549
3,케이알모터스(주),40,2013/12,-0.112003,-0.065277,0.110926,-3093752.0,-7058574.0,0.034653,-0.000000,...,ubion,BBB-,회사채,116931646.0,104.016997,0.132807,1.961381,100.000000,1.040170,6.058273
4,케이알모터스(주),40,2014/12,-0.246924,-0.116590,0.158845,-47047856.0,-24120954.0,-53.260413,-0.000000,...,ubion,BBB-,회사채,136844164.0,198.940632,0.065340,1.502663,100.000000,1.989406,6.242679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5468,엘브이엠씨홀딩스(주),900140,2018/12,-0.129496,-0.095922,0.225463,-14565119.0,-51762067.0,0.003358,-0.060133,...,ubion,BBB-,회사채,653661541.0,81.750279,0.088853,2.223237,100.000000,0.817503,6.562249
5469,엘브이엠씨홀딩스(주),900140,2019/12,-0.162199,-0.110801,0.153946,20486655.0,-41882430.0,0.242182,-0.000000,...,ubion,BBB-,회사채,678847944.0,108.280844,0.034137,1.923524,100.000000,1.082808,6.366166
5470,엘브이엠씨홀딩스(주),900140,2020/12,-0.071747,-0.056633,0.176435,62682386.0,-9474979.0,0.590186,-0.000000,...,태국 TRIS 신용평가,BBB-,회사채,647658915.0,80.584317,0.120262,2.240936,100.000000,0.805843,6.590891
5471,엘브이엠씨홀딩스(주),900140,2021/12,-0.049496,-0.059361,0.219790,108519914.0,-1793524.0,0.525809,-0.000000,...,ubion,BBB-,회사채,661447272.0,52.861742,0.092248,2.891727,100.000000,0.528617,6.387397
5472,엘브이엠씨홀딩스(주),900140,2022/12,-0.094044,-0.159704,0.188620,66097678.0,-20169680.0,0.318786,-0.000000,...,ubion,BBB-,회사채,667268823.0,62.031183,0.064233,2.612092,100.000000,0.620312,6.814670

In [ ]:
df_merge.isna().sum()

회사명          0
거래소코드        0
회계년도         0
ROE          0
ROIC         0
OPEX/매출      0
잉여현금흐름       0
Buffett      0
ROCE         0
자사주매입1       0
자사주매입2       0
주주환원1        0
주주환원2        0
배당율          0
보통주식비율       0
연도           0
평가사명 및 등급    0
신용등급         0
증권명          0
자산총계         0
부채비율         0
당좌비율         0
유동비율         0
자기자본 비율      0
재무레버리지       0
신용스프레드       0
dtype: int64

In [ ]:
df_merge['회사명'].nunique()

421

In [ ]:
421*13

5473

In [ ]:
df_merge.to_csv('완성본.csv', index = False, encoding='utf-8-sig')