In [1]:
import pandas as pd 

df = pd.read_csv('els종목리스트.csv')
df

,종목코드,발행회사,종목명,발행일,만기일,총발행금액,납입금액,발행통화,기초자산개수,기초자산명1,...,상한 수준(%),상한 히팅,상품유형,상환구분,상환일,만기기간,상환실현기간,기초자산1,기초자산2,기초자산3
0,KR6001202V69,유진투자증권,유진투자증권43(ELS),2008-06-05,2010-06-09,8.436300e+09,8.436300e+09,원화,2,Hang Seng China Enterprises Index,...,NaN,NaN,NaN,조기상환,2009-12-09,24.0,18.0,Hang Seng China Enterprises Index,코스피 200지수,NaN
1,KR6001203V27,유진투자증권,유진투자증권17(ELS),2008-02-22,2010-02-23,9.203200e+09,9.203200e+09,원화,2,Hang Seng China Enterprises Index,...,NaN,NaN,NaN,조기상환,2009-08-24,24.0,18.0,Hang Seng China Enterprises Index,코스피 200지수,NaN
2,KR6001204V42,유진투자증권,유진투자증권36(ELS),2008-04-18,2010-04-16,2.764800e+09,2.764800e+09,원화,2,Hang Seng China Enterprises Index,...,NaN,NaN,NaN,조기상환,2008-07-18,24.0,3.0,Hang Seng China Enterprises Index,코스피 200지수,NaN
3,KR6001208V71,유진투자증권,유진투자증권73(ELS),2008-07-25,2009-01-30,5.470000e+09,5.470000e+09,원화,2,Hang Seng China Enterprises Index,...,NaN,NaN,NaN,만기상환,2009-01-30,6.0,6.0,Hang Seng China Enterprises Index,코스피 200지수,NaN
4,KR6001209V88,유진투자증권,유진투자증권80(ELS),2008-08-25,2009-08-26,2.716900e+09,2.716900e+09,원화,2,Hang Seng China Enterprises Index,...,NaN,NaN,NaN,만기상환,2009-08-26,12.0,12.0,Hang Seng China Enterprises Index,코스피 200지수,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48819,KR6ZY0002E97,교보증권,교보증권12591(ELS),2023-11-14,2026-11-17,2.000000e+08,2.000000e+08,원화,3,S&P 500 Index,...,NaN,NaN,하한,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48820,KR6ZY0002FG7,교보증권,교보증권12579(ELS),2023-11-07,2026-11-10,7.734000e+07,7.734000e+07,원화,3,S&P 500 Index,...,NaN,NaN,하한,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48821,KR6ZY0002GS0,교보증권,교보증권12636(ELS),2023-12-12,2026-12-15,1.600000e+08,1.600000e+08,원화,3,S&P 500 Index,...,NaN,NaN,하한,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48822,KR6ZY0002GT8,교보증권,교보증권12637(ELS),2023-12-11,2026-12-10,3.560000e+08,3.560000e+08,원화,3,S&P 500 Index,...,NaN,NaN,하한,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48823,KR6ZY0002HA6,교보증권,교보증권2088(ELS),2023-11-30,2026-12-02,5.000000e+08,5.000000e+08,원화,3,S&P 500 Index,...,NaN,NaN,하한,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df[df['종목코드'] == 'KR6543320545']

,종목코드,발행회사,종목명,발행일,만기일,총발행금액,납입금액,발행통화,기초자산개수,기초자산명1,...,상한 수준(%),상한 히팅,상품유형,상환구분,상환일,만기기간,상환실현기간,기초자산1,기초자산2,기초자산3
15893,KR6543320545,신영증권,신영증권플랜업4994(ELS),2015-04-03,2018-04-02,822000000.0,813780000.0,원화,3,코스피 200지수,...,NaN,NaN,하한,조기상환,2017-10-11,36.0,30.0,코스피 200지수,Hang Seng China Enterprises Index,DOW JONES EURO STOXX 50 INDEX

In [2]:
import pandas as pd

In [3]:
pd.read_csv('06_홍콩pmi(월).csv')

                     발표일     시간    실제    예측    이전
0     2024년 02월 02일 (1월)  00:00   NaN   NaN  47.4
1    2024년 01월 04일 (12월)  00:00  47.4  47.1  46.7
2    2023년 12월 02일 (11월)  00:00  46.7  47.6  46.7
3    2023년 11월 01일 (10월)  23:00  46.7  49.0  49.0
4     2023년 10월 02일 (9월)  23:00  49.0  47.7  47.6
..                   ...    ...   ...   ...   ...
211   2006년 07월 01일 (6월)  18:00  52.0   NaN  53.7
212   2006년 06월 01일 (5월)  18:00  53.7   NaN  55.2
213   2006년 05월 01일 (4월)  18:00  55.2   NaN  54.3
214   2006년 04월 01일 (3월)  18:00  54.3   NaN  55.8
215   2006년 03월 01일 (2월)  18:00  55.8   NaN  55.0

[216 rows x 5 columns]