#### 01_홍콩달러 상승률

In [3]:
import pandas as pd
df1 = pd.read_csv('01_홍콩달러 상승률.csv')
df1.head()

             날짜      종가      시가      고가      저가  거래량    변동 %
0  2024- 01- 18  7.8210  7.8229  7.8231  7.8177  NaN   0.00%
1  2024- 01- 17  7.8210  7.8264  7.8274  7.8186  NaN  -0.06%
2  2024- 01- 16  7.8260  7.8235  7.8286  7.8204  NaN   0.03%
3  2024- 01- 15  7.8235  7.8211  7.8242  7.8172  NaN   0.03%
4  2024- 01- 12  7.8211  7.8179  7.8233  7.8161  NaN   0.05%